/* TABLE COLORS */
.marix-table{
    margin-top: 50px;
    overflow-y: scroll;
    overflow-x: scroll;
    
}
table{
    position: relative;
    text-align: center;
    margin: 1%;
    margin-top: 45px;
}

table input{
    border: solid 1px transparent;
    border-radius: 3px;
    background: transparent;
}

thead td{
    min-width:150px;
    padding: 2px 1px;
    font-size: 10px;
    font-weight: 500 ;
    border: solid 2px var(--bs-gray);
    background-color: white;
}


.td-smaller-txt{
    font-size: 12px;
}
.tb-unidad{
    background: var(--tb-unidad);
}
.tb-dupla{
    background: var(--tb-dupla);
}
.tb-beneficiario{
    background: var(--tb-beneficiario);
}
.tb-acudiente{
    background: var(--tb-acudiente);
}
.tb-padre{
    background: var(--tb-padre);
}
.tb-madre{
    background: var(--tb-madre);
}
.tb-historial-medico{
    background: var(--tb-historial-medico);
}
tbody tr{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight:normal;
    border: solid 2px var(--bs-gray-500);
}

/* ADD MODAL */
.flex-gap > div{
    display: inline-block;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
}
.flex-gap > div > input, .flex-gap > div > select, .flex-gap > div > textarea{
    display: inline-block;
    width: 100%;
    min-width: 208px;
    height: 30px;
    min-height: 30px;
    background: #dde0ff;
    border: 2px solid #538dd5;
    border-radius: 4px;
    margin-bottom: 25px;
}
.flex-gap h4{
    width: 100%;
    margin: 4% 0;
    border-radius: 1px;
    border-bottom: solid 3px #538dd5;
}
.flex-gap label{
    color: black;
}

/*visible table*/
.table-head{
    z-index: 100;
    position: sticky;
    top: 125px;
    margin-bottom: -100px;
}
.table-head td{
    border: solid 2px var(--bs-gray);
}




/*transparent table*/
.transp td{
    background-color: transparent;
    color: transparent;
    border-color: transparent ;
}
/*paint odd child table (gray)*/
.prin-table tbody:nth-child(odd) {
    background-color: #e4e0e0;
}
 /*Edit button styles*/
.edit-button img{
    width: 30px;
    
}
.edit-button{
    transition: 0.5s;
}
.edit-button:hover{
    background-color: #c4ffd1;
    transition: 0.5s;
    cursor: pointer;
    border: 1px  solid rgb(17, 104, 14);
}