.recovery__password {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recovery__password--container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  border-radius: 50px;
  border: 1px solid var(--bs-gray-400);
  box-shadow: 0px 0px 10px 11px var(--bs-gray-400);
}

.inputNewPass {
  line-height: 0;
  padding: 10px 0;
  width: 500px;
}

#recovery__password--save-button {
  width: 250px;
  margin-top: 50px;
  padding: 12px 24px;
}