@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap');
.header{
    width: 100vw;
    height: 70px;
    padding: 0 27px;
    top: 0;
    display: flex;
    position: fixed;
    background-color: #fff;
    font-weight: 500;
    justify-content: space-between;
    box-shadow: 0px 5px 5px -6px black;
    z-index: 150;
}

.adminInfo{
    display: flex;
    flex-direction: column;
}
.buttonsHeader, .profile{
    display: flex;
    flex-direction: row;
    
}
.buttonsHeader{
    width: 328px;
    justify-content: space-between;
    font-size: 16px;
    
    
}
.buttonHeader{
    border: none;
    background-color: white;
    height: 45px;
    align-self: center;
    background-image: linear-gradient(var(--color-blue-2),var(--color-blue-2),var(--color-blue-2));
    background-repeat: no-repeat;
    background-size: 0% 3px;
    background-position: 50% 80%;
    transition: background-size .17s ease-in-out;
}
.buttonHeader:hover{
    background-size: 100% 3px;
}
.profile{
    align-items: center;
}
.adminName{
    font-size: 16px;
}
.adminProfile{
    font-size: 15px;
}
.iconUser{
    font-size: 16px;
    margin-right: 10px;
    color:gray;
}
.adminProfile{
    margin-top: -5px;
}


