/* ----------------------- ADD MODAL ----------------------- */
.modal-title h3 {
  margin: 0;
}

.flex-gap div {
  display: inline-block;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
}
.flex-gap {
  display: flex;
  flex-wrap: wrap;
}

.flex-gap div input,
.flex-gap div select,
.flex-gap div textarea {
  display: inline-block;
  width: 100%;
  min-width: 208px;
  height: 30px;
  min-height: 30px;
  background: #dde0ff;
  border: 2px solid #538dd5;
  border-radius: 4px;
  margin-bottom: 25px;
  transition: all 0.2s;
}
.flex-gap div input:hover,
.flex-gap div select:hover,
.flex-gap div textarea:hover {
  background: #e8ebff;
}
.flex-gap h4 {
  width: 100%;
  margin: 4% 0;
  border-radius: 1px;
  border-bottom: solid 3px #538dd5;
}
.flex-gap label {
  color: black;
}
.bottom-tab-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bottom-tab-button button {
  padding: 0 8px;
  margin: auto;
}
.verifyInputs {
  height: 35px;
  /*     margin: 0 !important; */
  font-size: clamp(0.9rem, 1.1vw, 1.1rem);
  color: #fff;
  background-color: red;
  border: solid 2px rgb(174, 0, 0);
  border-radius: 0.5em;
  line-height: 1;
  transition: all 0.2s;
}
.verifyInputs:hover {
  background-color: rgb(255, 23, 23);
}
/* ----------------------- Hover Select A, B, C, D... ----------------------- */
.long-select {
  width: 100%;
}
.long-select div {
  margin: 0;
}
.long-select input {
  width: 40% !important;
  min-width: 208px;
  padding-left: 5px;
  margin: 10px 5px 0 0;
}
.long-select select {
  width: 100px !important;
  margin: 10px 20px 0 0;
}
.long-select button {
  width: 70px;
  height: 30px;
  margin-top: 10px;
  color: white;
  background: #538dd5;
  border: 2px solid #538dd5;
  border-radius: 4px;
}
.letter-select span {
  font-size: 18px;
  margin-top: 5px;
  padding: 2px 8px;
  color: #538dd5;
  font-weight: bolder;
  border: solid 2px #538dd5;
  border-radius: 3px;
  cursor: help;
}

[tooltip] {
  position: relative; /* opinion 1 */
}
/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 1em; /* opinion 3 */
  font-weight: 400;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  color: black;
  opacity: 0;
}
[tooltip]::before {
  content: "";
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip);
  font-family: Helvetica, sans-serif;
  text-align: center;
  width: 15em;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: 4px;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  background: #dde0ff;
  border: solid 2px var(--color-blue-3);
  z-index: 1000; /* absurdity 2 */
}
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}
/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color: var(--color-blue-3);
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}
/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: 0.94;
    transform: translate(-50%, 0);
  }
}
/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after {
  animation: tooltips-vert 0.3s ease-out forwards;
}

/* ----------------------- Tabs ----------------------- */
.react-tabs__tab:not(.react-tabs__tab--selected),
.react-tabs__tab--selected {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin: 0 1px;
  width: 160px;
  text-align: center;
}
.react-tabs__tab:not(.react-tabs__tab--selected) {
  background-color: #60b3243c;
}
